<app-control-panel [appliedFormattingRules]="selectedWord?.formattingRulesIds"
                   [synonyms]="synonyms$"
                   [selectedWord]="selectedWord"
                   (formattingChanged)="formattingChanged($event)"
                   (synonymsRequested)="synonymsRequested()"
                   (synonymSelected)="synonymSelected($event)"></app-control-panel>
<app-file (wordSelected)="wordSelected($event)"></app-file>
