:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

.formatting {
  &--bold {
    font-weight: bold;
  }
  &--italic {
    font-style: italic;
  }
  &--underline {
    text-decoration: underline;
  }
}
