<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button"
          *ngFor="let control of controls"
          class="btn mr-2 {{control.class}}"
          [ngClass]="isApplied(control.id) ? 'btn-primary' : 'btn-secondary'"
          (click)="selectFormatter($event, control.id)">{{ control.label }}</button>

  <div ngbDropdown class="d-inline-block" >
    <button class="btn btn-outline-primary" [disabled]="!selectedWord" ngbDropdownToggle (click)="requestSynonyms($event)">Toggle dropdown</button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let synonym of synonyms | async" (click)="selectSynonym(synonym.word)">{{ synonym.word }}</button>
    </div>
  </div>
</div>
