:host(.control-panel) {
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel {
  &__control {
    &--bold {
      font-weight: bold;
    }
    &--italic {
      font-style: italic;
    }
    &--underline {
      text-decoration: underline;
    }
  }
}
